@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-display: 'Montserrat', sans-serif;
  --font-headline: 'Montserrat', sans-serif;
  
  --color-primary: #003b70;
  --color-secondary: #b70f36;
  --color-secondary-container: #da304c;
  --color-background: #fcf9f8;
  --color-surface: #ffffff;
  --color-surface-dim: #dcd9d9;
  --color-surface-bright: #fcf9f8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container: #f0eded;
  --color-surface-container-high: #eae7e7;
  --color-surface-container-highest: #e5e2e1;
  --color-on-surface: #1c1b1b;
  --color-on-surface-variant: #424750;
  --color-surface-muted: #E7E9ED;
  --color-outline: #737781;
  --color-outline-variant: #c2c6d1;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
  }
}
